services:
  bot:
    image: ${COMPOSE_PROJECT_NAME}-bot:latest
    build:
      context: .
    container_name: ${COMPOSE_PROJECT_NAME}-bot
    env_file:
      - path: ./.env
        required: false
    restart: unless-stopped
    volumes:
      - logs_data:${FILE_LOG__DIRECTORY}
{%- if 'redis' in features %}
    depends_on:
{%- endif %}
{%- if 'redis' in features %}
      - redis
{%- endif %}
    networks:
      - app
{% if 'redis' in features %}
  redis:
    image: redis:7-alpine
    container_name: ${COMPOSE_PROJECT_NAME}-redis
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --port ${REDIS__PORT}
    restart: unless-stopped
    networks:
      - app
{% endif %}
networks:
  app:
    driver: bridge

volumes:
  logs_data:
{%- if 'redis' in features %}
  redis_data:
{%- endif %}
