aiogram==3.29.0
aiogram-dialog==2.6.0
aiogram-i18n[compiler]==1.5
alembic==1.18.5
dynaconf==3.2.13
loguru==0.7.3
orjson==3.11.9
posthog==7.19.2
psycopg[binary]==3.3.4
pydantic-settings==2.14.2
redis==8.0.1
sqlalchemy==2.0.51
uvloop==0.22.1 ; sys_platform != "win32"
winloop==0.6.3 ; sys_platform == "win32"