aiogram==3.24.0
aiogram-dialog==2.3.1
aiogram-i18n[compiler]==1.4
alembic==1.18.1
dynaconf==3.2.12
loguru==0.7.3
orjson==3.11.5
posthog==7.6.0
psycopg[binary]==3.3.2
pydantic-settings==2.12.0
redis==7.1.0
sqlalchemy==2.0.45
uvloop==0.22.1 ; sys_platform != "win32"
winloop==0.4.1 ; sys_platform == "win32"