[tool.poetry]
name = "{{ project_slug }}"
version = "{{ project_version }}"
{%- if project_description != '' %}
description = "{{ project_description }}"
{%- endif %}
{%- if project_author != '' %}
authors = ["{{ project_author }}"]
{%- endif %}
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = ">={{ python_version }},<4.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"