[project]
name = "{{ project_slug }}"
version = "{{ project_version }}"
{%- if project_description != '' %}
description = "{{ project_description }}"
{%- endif %}
{%- if project_author != '' %}
authors = [{{ project_author }}]
{%- endif %}
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = []